@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Roboto', sans-serif;
}


/* CROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #14b8a6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #115e59;
}